@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'sans-serif', 'montserrat';
    color: #ffff;
}

html,body{
    background-color: #000000;
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;

}

#cursor {
    height: 20px;
    width: 20px;
    /* background-color: #1e49c1;  */
    border-radius: 50%;
    position: fixed;
    /* z-index: 100; */
    pointer-events: none; /* Prevents the cursor from blocking clicks */
}
#cursor-blur {
    height: 400px;
    width: 400px;
    /* background-color: #4e6bc2;  */
    border-radius: 50%;
    position: fixed;
    filter: blur(190px);
    pointer-events: none;
    z-index: 99;
    
}

/* Style for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Style for the dropdown container */
.dropdown1 {
    position: relative;
    display: inline-block;
}
.link1{
    text-decoration: none;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #191818;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #191818;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgbsa(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content1 a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */


.dropdown-content a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #95c11e;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.dropdown-content a:hover:after { 
    width: 100%; 
    left: 0; 
    color: #95c11e;

  }
.dropdown-content1 a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #95c11e;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.dropdown-content1 a:hover:after { 
    width: 100%; 
    left: 0; 
    color: #95c11e;

  }
.dropdown:hover h4  {
    color: #b2d9ff;
}
.dropdown1:hover h4 a {
    color: #b2d9ff;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown1:hover .dropdown-content1 {
    display: block;
}

/* Hover effect for the main dropdown link */




#nav{
    height: 100px;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    gap: 2.5rem;
    justify-content: flex-start;
    z-index: 99;
    letter-spacing: 0.5px;
    padding-left: 100px;
}
.container {
    display: none; /* Hidden by default */
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2.5px;
    background-color: #e8e8e8;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  
    
#logo img{
    height: 5rem;
    width: 20vw;
    padding-right:10rem;
    

}

#nav h4:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #95c11e;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;



}

#nav h4:hover:after { 
    width: 100%; 
    left: 0; 
    color: #95c11e;

  }



#nav h4 a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1rem;

}
#nav h4 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1rem;
    
}

#nav {
    position: fixed;  /* Makes the navbar stick to the top */
    top: 0;
    width: 100%;
    z-index: 10; 
    border: 2px #ffff;
}
@keyframes scroll {
    from {
        transform: translateX(0); /* Start from the original position */
    }
    to {
        transform: translateX(-100%); /* End with complete scroll */
    }
}
.content-section{
    display: flex;
}
#main2{
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.37); */
    overflow-x: hidden;

}
#header {
    margin-top: 7rem; /* This gives space below the navbar */
    text-align: left;
    color: white;
    height: 100vh;
    width: 100vw;
}


#header img{
    margin-left: 5.8rem;
    position: fixed;
    width: 89vw;
    height: 90vh;
    object-fit: cover;
}

#header h1 {
    position: absolute; 
    top: 200px; /* Moves the h1 down 500px from the top of the header */
    left: 850px; /* Moves the h1 300px to the right */
    background-color: #191818; 
    z-index: 2; /* Ensures h1 stays on top of the image */
    font-weight: 200;
    padding: 2rem;
    height:50vh;
    width: 40vw;
    background-color: rgba(25, 24, 24, 0.7); 
    color: #95c11e;
    font-size: 2rem;
    letter-spacing: 1.3px;
    font-weight: 600;
    white-space: nowrap;
    border-radius: 1rem;
    overflow: hidden;
}
.header-para {
    z-index: 2; 
    position: absolute; 
    top: 300px; 
    left: 850px;
    overflow: hidden;
    display: inline;
    padding-left: 4rem;
    margin-right: 10.1rem;
    font-weight: 200;
    font-size: 1.4rem;
    letter-spacing: 1px;
    overflow: hidden;
    

}
.content-para{
    z-index: 2; 
    position: absolute; 
    top: 300px; 
    left: 850px;
    overflow: hidden;
    display: inline;
    padding-left: 4rem;
    margin-right: 10.1rem;
    font-weight: 200;
    font-size: 1.4rem;
    letter-spacing: 1px;
    overflow: hidden;
    

}
#header .btn{
    z-index: 2; 
    position: absolute;
    top: 500px; 
    background-color: #697565;
    left: 850px;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 15rem;
    letter-spacing: 1px;
    

}
#header .btn:hover{
    background-color: #95c11e;
    color: #181C14;
}

#page1 {
    margin-top: 20px;
    height: auto;
    width: auto;
    /* background-color: rgb(0, 0, 0); */
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column; /* Stacks elements vertically */
    align-items: center; /* Centers content horizontally */
}


/* Center the heading */
#heading {
    display: flex;  /* Apply flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; 
    flex-direction: column;
    z-index: 2;
    height: 10vh; /* Set height for the heading */
    width: 100vw;
    /* background-color: #95c11e; */
    position: relative;
    padding: 5rem;
}
#heading h1{
    color: #95c11e;
    text-decoration:underline #fff 1px;
    text-underline-offset: 10px;
    align-content: center;
}

/* .para {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    padding: 0 10px;
    background-color: rgb(85, 118, 118); 
    width: auto; 
    max-width: 80%; 
    overflow: hidden;
    padding-left: 2rem;
    margin-right: 50rem;
    z-index: 2;


} */
h1{
    font-size: 3rem;
    padding-left: 0;  /* Center the heading */
    text-align: center; /* Center text */
    margin-bottom: 1rem; 
    color: #95c11e;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}


/* Align the content boxes */
#content1,#content2 ,#content3,#content4 {
    display: flex;

    height: 41vh;
    width:89vw;
    border: 0.5px solid #95c11e;
    border-radius: 0.3rem;
    /* background-color: #7e6868; */
    z-index: 2;
    margin-bottom: 30px;
    align-items: center;
    z-index: -2;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 1rem;


}


#content1 img{
    height: 70vh;
    width:40vw;
    object-fit:contain;
    margin-top: 2rem;
    transition: transform 0.3s ease-in-out;


}

#content1 p{
    margin-bottom: 3rem;
    font-size: 1.2rem;
    overflow: hidden;
    

}
#content2 p{
    /* background-color: #95c11e; */
    margin-top: 20rem;
    font-size: 1.2rem;
    

}
#content3 p{
    /* background-color: #95c11e; */
    margin-top: 45rem;
    font-size: 1.2rem;

}
#content4 p{
    /* background-color: #95c11e; */
    margin-top: 75rem;
    font-size: 1.2rem;

}
#content2 img{
    height: 70vh;
    width:40vw;
    object-fit:contain;
    margin-top: 2rem;

}
#content3 img{
    height: 70vh;
    width:40vw;
    object-fit:contain;
    margin-top: 2rem;

}
#content4 img{
    height: 70vh;
    width:40vw;
    object-fit:contain;
    margin-top: 2rem;

}
/* Distribute content boxes evenly */
#content1, #content2, #content3,#content4 {
    display: flex;
    overflow: hidden;
    /* justify-content: space-between; */
}

/* Wrap content in a flex container to align evenly */
#content-container {
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    width: a; /* Full width of the viewport */
    margin-top: 2rem; /* Adds space between the heading and content */
    gap: 1rem;
}

/* Ensure #page2 has a lower z-index to appear below other layers */
#page2 {
    height: 140vh;
    width: 100vw;
    /* background-color: rgb(0, 0, 0); */
    z-index: 2; /* Lower z-index if you want it behind other layers */
    position: relative; /* or absolute based on your layout */
}
#sub-page1{
    display: flex;

}
video {
    width: 40vw; /* Full width or adjust as needed */
    height: 100vh;
    margin-top: 10rem;
    margin-left: 6.5rem;
    z-index: 3;
    object-fit: cover;
    position: absolute; /* or relative based on your layout */
    top: 0; /* Adjust top positioning as needed */
    left: 0; /* Adjust left positioning as needed */
    overflow: hidden;
    border-radius: 5px;
}


.overlay-text {
    
    position: absolute;
    top: 50%; 
    left: 27%;
    text-transform: uppercase;
    font-weight: 600;
    transform: translate(-50%, -50%); /* Centers the text */
    color: #0C1844;
    width: 40vw;
    font-size: 3rem;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 5;
    
  }

.values{
    display: flex;
    margin-left: 60rem;
    font-size: 2.4rem;
    margin-top: 12rem;
    margin-right: 10rem;
    position: absolute;
    display: inline;
    overflow: hidden;   
     z-index: 0;

    
}
h2{
   
    font-size: 2.4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
   

    
}
.side-para h2{
    padding-left: 4rem;
    text-decoration: underline #fff 1px;
    text-underline-offset: 10px;
    text-align: center;
    color: #95c11e;
    font-size: 4rem;
    text-transform: uppercase;
}

.side-para p{
    font-size: 1.4rem;
    margin-left: 8rem;
}
#page3 {
    height: 80vh;
    width: 100vw;
    /* background-color: rgb(0, 0, 0); */
    z-index: 2;
    position: relative;
}

.heading-2 {
margin-left: 6rem;
    font-size: 3rem;
    text-align: left;
    margin-bottom: 1rem;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
}

.heading-2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px;
    width: 90vw;
    height: 1px;
    background-color: #95c11e;
    z-index: -1;
}

#image-container {
    display: flex;
    flex-direction: row; /* Align images horizontally */
    gap: 2rem;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-left: 6rem;
    margin-right: 9rem;
}

.images1{
    height: 45vh;
    width: 27vw;
}

.img1 {
    height: 45vh;
    width: 27vw;
    border-radius: 2rem;
    object-fit: cover;
    transition: transform 0.2s;
    z-index: 0;
}

.img1:hover {
    transform: scale(1.1);
    z-index: 1;
}

a {
    text-decoration: none; /* Removes underline from <a> tag */
}

/* Navbar Styles */
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: #fff;
    position: fixed;
  }
  
  
  
  /* Nav links container */
  .nav-links {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  
  
  
  /* Hamburger Icon Styles */
  .hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    transition: transform 0.4s;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: 0.4s;
  }
  
  /* Hamburger animation to "X" */
  .hamburger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  
  
  
.content-section a .btn-1 {
    margin-top: 1.5rem; /* Space above the button */
    background-color: transparent; /* Initial background color */
    padding: 0.75rem 1rem; /* Vertical and horizontal padding */
    border: 2px solid #dddddd; /* Adding border thickness */
    cursor: pointer; /* Pointer cursor on hover */
    color: #95c11e; /* Text color */
    text-align: center; /* Center text alignment */
    position: relative; /* For positioning context */
    display: inline-block; /* Use inline-block for block-level behavior */
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 1rem; /* Font size */
    overflow: hidden; /* Hide overflow */
    margin-top: 15rem;
    margin-left: 11rem;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.content-section .btn-1:hover {
    background-color: #95c11e; /* Background color on hover */
    color: white; /* Text color on hover */
    cursor: pointer;

}
  .content-section1 .btn-2 {
    margin-top: 1.5rem; /* Space above the button */
    background-color: transparent; /* Initial background color */
    padding: 0.75rem 1rem; /* Vertical and horizontal padding */
    border: 2px solid #dddddd; /* Adding border thickness */
    cursor: pointer; /* Pointer cursor on hover */
    color: #95c11e; /* Text color */
    text-align: center; /* Center text alignment */
    position: relative; /* For positioning context */
    display: inline-block; /* Use inline-block for block-level behavior */
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 1rem; /* Font size */
    overflow: hidden; /* Hide overflow */
    margin-top: 15rem;
    margin-left: 11rem;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.content-section1 .btn-2:hover {
    background-color: #95c11e; /* Background color on hover */
    color: white; /* Text color on hover */
}
  .content-section2 .btn-3 {
    margin-top: 1.5rem; /* Space above the button */
    background-color: transparent; /* Initial background color */
    padding: 0.75rem 1rem; /* Vertical and horizontal padding */
    border: 2px solid #dddddd; /* Adding border thickness */
    cursor: pointer; /* Pointer cursor on hover */
    color: #95c11e; /* Text color */
    text-align: center; /* Center text alignment */
    position: relative; /* For positioning context */
    display: inline-block; /* Use inline-block for block-level behavior */
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 1rem; /* Font size */
    overflow: hidden; /* Hide overflow */
    margin-top: 15rem;
    margin-left: 11rem;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.content-section2 .btn-3:hover {
    background-color: #95c11e; /* Background color on hover */
    color: white; /* Text color on hover */
}
  .content-section3 .btn-4 {
    margin-top: 1.5rem; /* Space above the button */
    background-color: transparent; /* Initial background color */
    padding: 0.75rem 1rem; /* Vertical and horizontal padding */
    border: 2px solid #dddddd; /* Adding border thickness */
    cursor: pointer; /* Pointer cursor on hover */
    color: #95c11e; /* Text color */
    text-align: center; /* Center text alignment */
    position: relative; /* For positioning context */
    display: inline-block; /* Use inline-block for block-level behavior */
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 1rem; /* Font size */
    overflow: hidden; /* Hide overflow */
    margin-top: 15rem;
    margin-left: 11rem;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.content-section3 .btn-4:hover {
    background-color: #95c11e; /* Background color on hover */
    color: white; /* Text color on hover */
}

.images1 .btn-5{
    background: none;
    border: none;
    padding-top: 1rem;
    margin-left: 3rem;
}
.btn-5 h4{
    color: #95c11e;
    text-underline-offset: 10px;
    text-decoration: underline white 1px;
    cursor: pointer;
}

.images1 .btn-5:hover{
    color: #ffff;
}
#page4 {
    height: 100vh;
    width: 100vw;
    background-color: #95c11e; /* Default background color when entering the page */
    transition: background-color 0.5s ease; /* Smooth transition when changing colors */
}



.head1{
    text-transform:uppercase;

    color: #0C1844;
    padding-top:10rem;
    text-decoration: underline;
    text-underline-offset: 15px ;
    font-size: 4rem;
    text-align: center;
}


h6{
    color: #000000;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding-top: 1rem;
    font-size: 1.4rem;
    width: 60vw;
    margin-left: 20rem;
}



#page5{
    margin-top: 10rem;
    height: 90vh;
}


#image-container2 {
    display: flex;
    flex-direction: row; /* Align images horizontally */
    gap: 3rem;
    margin-top: 5rem;
    margin-left: 6rem;
    margin-right: 9rem;
}


#container1,#container2,#container3{
    margin-top: 2rem;
    height: 60vh;
    width: 60vw;
    background-color: #191818;
}
h4{
    font-size: 1.5rem;
    font-weight: 300;
}

img{
    height:50vh;
    width: 27vw;
}

.lists1{
    font-size: 1.2rem;
    list-style:circle;
    font-weight:300;
    display: flex;
    flex-direction: column;
    margin-left: 55rem;
    padding-top: 20rem;
}
 
ul{
    display: flex;
    list-style: none;
    text-align: start;
    margin-top: 5rem;
    font-size: 1rem;
    margin-left: 7rem;
    margin-right: 5rem;
    gap: 1.5rem;
    
}
li a{
    text-decoration: none;
}

hr{
    margin-top: 2rem;
    width: 86%;
    margin-left: 6rem;
}
#page6{
    margin-top: 13rem;
}

.img5{
    margin-left: 17rem;
    margin-top: 3rem;
    width: 40vw;
    height: 50vh;
    object-fit: fill;
}
.page5 h1{
    margin-top: 10rem;
}
.page5-para{
    padding-left: 7rem;
    font-size: 1rem;
    position: relative;
    text-wrap:wrap;
    height: 20vw;
    width: 25vw;
    top: -20rem;
    margin-right: 16rem;
    margin-left: 10rem;
    display: block;

}
#page6{
    height: 100vh;
    width: 100vw;
}
.img6{
    display: flex;
    height: 80vh;
    width: 30vw;
    object-fit: fill;
    margin-left: 20rem;
}


.para-6{
    padding-left: 7rem;
    font-size: 1rem;
    position: relative;
    text-wrap:wrap;
    height: 10vw;
    width: 25vw;
    top: -20rem;
    margin-right: 16rem;
    margin-left: 10rem;
    display: block;
}

.footer-container {
    color: #4c5166;
    padding: 45px 15px;
  }
  
  .footer {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content {
    margin-bottom: 45px;
  }
  
  .newsletter {
    /* background: #ffffff; */
    padding: 30px;
    text-align: center;
  }
  
  .footer-h2 {
    font-size: 2rem; 
    left: -20rem;
    margin: 0;
    margin-left: 60rem;


  }
  
  .newsletter-form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    gap: 5px;
  }
  
  .newsletter-input {
    height: 50px;
    /* border: 2px solid #cdcdcd; */
    flex: 1;
  }
  
  .newsletter-btn {
    height: 50px;
    padding: 0 20px;
    /* background: #ffffff; */
    color: #95c11e;
    /* border: 2px solid #06965c; */
    cursor: pointer;
    transition: 0.3s;
  }
  
  .newsletter-btn:hover {
    background: #000000;
    color: #fff;
  }
  
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .footer-column {
    flex: 1;
    min-width: 250px;
  }
  
  .footer-about,
  .footer-links,
  .footer-contact {
    margin-bottom: 30px;
  }
  
  .footer-about h3,
  .footer-links h3,
  .footer-contact h3 {
    margin-bottom: 20px;
    color: #95c11e;
    font-size: 22px;
  }
  
  .footer-links a,
  .footer-contact {
    margin-bottom: 10px;
    display: block;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
  }
  .footer-p {
    margin-top: 970rem;
    font-size: 1rem;

  }
  
  .footer-links a:hover,
  .footer-contact p:hover {
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    /* or 267% */
    letter-spacing: -0.03em;
    /* text-decoration-line: underline; */
  
    color: #95c11e;
  }
  
  .footer-social a {
    display: inline-block;
    margin-right: 15px;
    color: #0085ff;
  }
  
  .footer-social a:hover {
    color: #dddddd;
  }
  
  .footer-menu {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .f-menu a {
    margin: 0 15px;
    color: #b4b7bf;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .f-menu a:hover {
    color: #4c5166;
  }
  
  .footer-copyright {
    text-align: center;
    padding: 30px 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .footer-copyright p {
    margin: 0;
  }
  
  .footer-copyright a {
    color: #4c5166;
    text-decoration: none;
    font-weight: 500;
  }
  
  .footer-copyright a:hover {
    color: #fff;
  }
  































































































  @media (max-width: 575px) {
    #header img{
        margin-left: 8rem; 
        position: fixed;
        width: auto;
        height: 67vh;
        object-fit: contain;
    }


    #header h1 {
   margin: 0;
   padding-bottom: 1rem;
        font-size: 1.5rem;
       
        overflow: hidden;
    }
    .header-para {
        z-index: 2; 
      left: 90px;
        overflow: hidden;
        display: inline;
        padding: 0;
        width: 73vw;
        font-weight: 200;
        font-size: 0.8rem;
        letter-spacing: 1px;
        overflow: hidden;
        
    
    }
    #heading h1{
        font-size: 2rem;
    }
    #header .btn{
        z-index: 2;
        position: absolute;
        top: 400px;
        background-color: #697565;
        left: 5px;
        border: none;
        border-radius: 1rem;
        padding: 1rem;
        color: #ffffff;
        font-size: 0.6rem;
        font-weight: 500;
        margin-left: 15rem;
        letter-spacing: 1px;
    }
    #heading h1 {
        font-size: 2rem;
        white-space: nowrap;
    }

#content1 img {
    height: 70vh;
    width: 60vw;
    object-fit: contain;
    /* margin-top: 2rem; */
    transition: transform 0.3s ease-in-out;
}
#content1,#content2 ,#content3,#content4 {
    display: flex;

    height: 60vh;
    width:89vw;
    border: 0.5px solid #95c11e;


}
#content1 img{
    display:flex ;
    justify-content: center;
    align-items: center;
    height: auto;
    width:60vw;
    object-fit:cover;
    transition: transform 0.3s ease-in-out;


}
video {
    width: 60vw;
    height: 80vh;
    margin-top: 10rem;
    margin-left: 6.5rem;
    z-index: 3;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 5px;
}
.overlay-text {
    position: absolute;
    top: 45%;
    left: 45%;
    text-transform: uppercase;
    font-weight: 600;
    transform: translate(-50%, -50%);
    color: #0C1844;
    width: 40vw;
    font-size: 2.5rem;
    text-align: center;
    
    
  }

  .heading-2 {
    margin-left: 2.5rem;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;



  }
  #image-container {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    /* justify-content: space-evenly; */
    margin-top: 5rem;
    margin-left: 6rem;
    margin-right: 9rem;

  }

  .img1 {
    height: 30vh;
    width: 72vw;
    border-radius: 2rem;
    object-fit: cover;
    transition: transform 0.2s;
    z-index: 0;
}
h4 {
    font-size: 1.4rem;
    /* font-weight: 300; */
    white-space: nowrap;
    text-align: center;
}
#page4 {

    margin-top: 40rem;
}
.head1 {
    text-transform: uppercase;
    color: #0C1844;
    padding-top: 4rem;
    text-decoration: underline;
    text-underline-offset: 15px;
    font-size: 2.5rem;
    text-align: center;
}

h6 {
    color: #000000;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding-top: 1rem;
    font-size: 1rem;
    width: 90vw;
    margin-left: 2rem;
}
}


@media (max-width: 600px) {
    #header img{
        margin-left: 3.5rem;
        position: fixed;
        width: 80vw;
        height: 40vh;
        object-fit: cover;
    }

    #header h1 {
        position: absolute;
        top: 200px; /* Moves the h1 down 500px from the top of the header */
        left: 50px; /* Moves the h1 300px to the right */
        z-index: 2; /* Ensures h1 stays on top of the image */
        font-weight: 200;
        height:40vh;
        width: 82vw;
        color: #95c11e;
        font-size: 1.5rem;
        font-weight: 500;
        white-space: nowrap;
        border-radius: 5px;
    }
    p  {
        z-index: 2; 
        position: absolute; 
        top: 600px; 
        left: 50px;
        display: inline;
        padding-left: 2rem;
        margin-right: 10.1rem;
        font-weight: 100;
        font-size: 1rem;
        letter-spacing: 1px;
        
    
    }
}

  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      /* gap: 1rem; */
      height: 70vh;
      width: 80%;
      position: absolute;
      top: 30px;
      right: 2rem;
      background-color: #191818;
      padding: 1rem;
      border-radius: 8px;
    }
  
    .nav-links.show {
      display: flex;
    }
  }
  
/* Small devices (large phones) */
@media (min-width: 576px) and (max-width: 767px) {

}
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {

}



/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Extra large devices (large desktops) */
@media (min-width: 1200px){

}










































































































































