@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:' sans-serif','montserrat';   
    color: #ffff;
}

html,body{
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;

}

#cursor {
    height: 20px;
    width: 20px;
    /* background-color: #1e49c1;  */
    border-radius: 50%;
    position: fixed;
    /* z-index: 100; */
    pointer-events: none; /* Prevents the cursor from blocking clicks */
}
#cursor-blur {
    height: 400px;
    width: 400px;
    /* background-color: #4e6bc2;  */
    border-radius: 50%;
    position: fixed;
    filter: blur(190px);
    pointer-events: none;
    z-index: 99;
    
}

/* Style for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Style for the dropdown container */
.dropdown1 {
    position: relative;
    display: inline-block;
}
.link1{
    text-decoration: none;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #191818;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgbsa(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #191818;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgbsa(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content1 a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */


.dropdown-content a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #95c11e;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.dropdown-content a:hover:after { 
    width: 100%; 
    left: 0; 
    color: #95c11e;

  }
.dropdown-content1 a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #95c11e;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.dropdown-content1 a:hover:after { 
    width: 100%; 
    left: 0; 
    color: #95c11e;

  }
.dropdown:hover h4  {
    color: #b2d9ff;
}
.dropdown1:hover h4 a {
    color: #b2d9ff;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown1:hover .dropdown-content1 {
    display: block;
}

/* Hover effect for the main dropdown link */


#nav{
    height: 100px;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    gap: 2.5rem;
    justify-content: flex-start;
    z-index: 99;
    letter-spacing: 0.5px;
    padding-left: 100px;
}
.container {
    display: none; /* Hidden by default */
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2.5px;
    background-color: #e8e8e8;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  
    
#logo img{
    height: 5rem;
    padding-right:35rem;
    

}

#nav h4:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #95c11e;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;



}

#nav h4:hover:after { 
    width: 100%; 
    left: 0; 
    color: #95c11e;

  }


#cursor {
    position: fixed;
    z-index: -1;
    background-color: #0085ff;
    pointer-events: none;
}
#nav h4 a{
    text-decoration: none;
    color: #95c11e;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1rem;
}
#nav h4 {
    color: #95c11e;
    text-transform: uppercase;
    font-weight: 200;
}
.img1{
    height: 60vw;
    width: 100vw;
}
.image-container {
    background-image: url('../Public/images/experience.png');
    background-size: fill; /* Ensures the entire image is visible */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; /* Full width */
    height: 100%; /* Adjust height to the parent element */
}

.content-container {
    display: flex;
    flex-direction: column;        /* Stack the content in a column */
    justify-content: center;       /* Vertically centers the content */
    align-items: flex-start;       /* Keeps the content left-aligned */
    padding-left: 6rem;           
    background-color: #ffff;
    height: 100vh;
    width: auto;
    background-size: contain;
    background-color: rgba(34, 34, 34, 0.4); 
}
.head {
    display: flex;
    color: #001F3F;    
    font-size: 3rem;
    text-decoration: underline #95c11e 0.7rem ; 
    text-underline-offset: 1rem;    

          
}

.sub-section p{
    display: flex;
    align-items: center;
    margin: 4rem 6rem 4rem 6rem;
    justify-content: center;
    color: #ffff;
    font-size: 1.5rem;
}
.subSection{
    background-color: #191818;
    margin-top: 4rem ;
    margin-bottom: 4rem;
    height: 40vh;

}
.sub-section .para{
    display: flex;
    align-items: center;
    margin: 4rem 6rem 4rem 6rem;

    justify-content: center;
    color: #ffff;
    font-size: 1rem;
}
.sub-section1{
    display: flex;
    padding: 4rem 6rem 4rem 6rem;
    gap: 2rem;


}

.head-1{
    white-space: nowrap;
    

}
.para-1{
    font-size: 1rem;
    padding-top: 1rem;
    text-align: left;
}