@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:' sans-serif','montserrat';   
    color: #ffff;
}

html,body{
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;

}

#cursor {
    height: 20px;
    width: 20px;
    /* background-color: #1e49c1;  */
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    pointer-events: none; /* Prevents the cursor from blocking clicks */
}
#cursor-blur {
    height: 400px;
    width: 400px;
    background-color: #4e6bc2; /* Added background color */
    border-radius: 50%;
    position: fixed;
    filter: blur(190px);
    pointer-events: none;
    z-index: 99;
    
}

/* Style for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Style for the dropdown container */
.dropdown1 {
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #191818;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgbsa(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #191818;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgbsa(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content1 a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */


.dropdown-content a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #95c11e;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.dropdown-content a:hover:after { 
    width: 100%; 
    left: 0; 
    color: #95c11e;

  }
.dropdown-content1 a:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #95c11e;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.dropdown-content1 a:hover:after { 
    width: 100%; 
    left: 0; 
    color: #95c11e;

  }
.dropdown:hover h4  {
    color: #b2d9ff;
}
.dropdown1:hover h4 a {
    color: #b2d9ff;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown1:hover .dropdown-content1 {
    display: block;
}

/* Hover effect for the main dropdown link */


#nav{
    height: 100px;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    padding: 0 50px;
    position: fixed;
    gap: 2.5rem;
    justify-content: flex-start;
    z-index: 99;
    letter-spacing: 0.5px;
    padding-left: 100px;
}
.container {
    display: none; /* Hidden by default */
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2.5px;
    background-color: #e8e8e8;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  
    
#logo img{
    height: 6rem;
    padding-right: 9rem;
    

}

#nav h4:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #95c11e;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;



}

#nav h4:hover:after { 
    width: 100%; 
    left: 0; 
    color: #95c11e;

  }


#cursor {
    position: fixed;
    z-index: -1;
    background-color: #0085ff;
    pointer-events: none;
}
#nav h4 a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1rem;
}
#nav h4 {
    text-transform: uppercase;
    font-weight: 200;
}
